{% extends "AppBundle::layout.html.twig" %}

{% block content %}
        {% for list in lists %}
             <li>    <div class="panel">
                 <h3>- {{list.id }} - {{list.nomTache }} - {{ list.liste }} </h3>
                     {% if list.etat == 0  %}
                     {
                     <p>En cours</p>
                     <a href="modifier/{{ list.id }}'">Valider</a> --
                     <a href="supprimer/{{ list.id }}'">Effacer</a>
                     }
                     {% else if list.etat == 1 %}
                     {
                     <p>Déjà validé</p>
                     <a href="supprimer/{{ list.id }}'">Effacer</a>
                     }

                     </div>
             </li>

        {% endfor %}
{% endblock %}

