
{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/normalize.css') }}" />
<title>{{ title }}</title>
{% endblock %}


    {% block body %}


        {% block content_header %}
            <nav class="top-bar" data-topbar role="navigation">
                <ul class="title-area">
                    <li class="name">
                        <h1>
                            <a href="">Home</a>
                        </h1>
                    </li>
                    <li class="toggle-topbar menu-icon">
                        <a href="#">
                            <span>Menu</span>
                        </a>
                    </li>
                </ul>

                <section class="top-bar-section">
                    <ul class="right">
                        <li><a href="../taskList/">Show Task List</a></li>
                        <li><a href="../taskList/ajouter">Add Task List</a></li>
                        <li><a href="../task/">Show List</a></li>
                        <li><a href="../task/ajouter">Add task</a></li>
                    </ul>

                </section>
            </nav>

            <div style="clear: both"></div>
        {% endblock %}

        <div class="row">
            <br/>
            {% block content %}{% endblock %}
            <br/>
            <footer class="row panel">
                <div align="center">
                    This project was create for Mr DURAND William and his PHP Project , the Todo List
                </div>
                <div align="center">
                    Product by BAILLOT Mickael and BARDON Clément
                </div>

            </footer>
        </div>

        {% if code is defined %}
            <h2>Code behind this page</h2>
            <div class="block">
                <div class="symfony-content">{{ code|raw }}</div>
            </div>
        {% endif %}
    {% endblock %}